{% extends "base.html" %}
{% block content %}

<h1>Model Form Practice</h1>
{% comment %} if we upoload a file image or anything else we have to use enctype="multipart/form-data" {% endcomment %}
<form method="post" action="" style="width: 50%; height : 50px; margin:auto" class="pt-5" enctype="multipart/form-data">
    {% load crispy_forms_tags %}
    {% csrf_token %}
    <h2>Client Data</h2>
    {% comment %} as_p niche akare show korbe gap kore {% endcomment %}
    {% comment %} {{form.as_p}} {% endcomment %}
    
    {{form | crispy}}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock  %}



{% comment %} we wil code in python and it will turn into a html {% endcomment %}