{% extends 'base.html' %} {% load static %} {% block content %}

<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ;
  "
>
  <div style="width: 490px; margin: 20px 0px;">
    <img
      src="{% static 'images/about.png' %}"
      alt=""
      style="width: 100%; margin-bottom: 10px"
    />
    <h1 style="text-align: center ;margin-bottom: 10px ">Taste Heaven Restaurant</h1>
    Welcome to Taste Heaven, where dining transcends the ordinary and becomes a
    celebration of flavor, craftsmanship, and community. Founded on the belief
    that every meal should be an unforgettable experience, Taste Heaven is your
    sanctuary for exceptional cuisine and warm hospitality. Our menu is a
    curated collection of the world’s finest dishes, each one meticulously
    prepared using the freshest, highest-quality ingredients. Whether you’re
    indulging in our signature dishes or exploring seasonal specials, every bite
    is a testament to our chefs’ dedication to excellence. We offer a diverse
    range of cuisines, ensuring that every palate finds something to love. From
    hearty mains to delicate desserts, each dish is a work of art that balances
    tradition with innovation. Taste Heaven is designed to be more than just a
    restaurant—it’s an experience. Our elegant yet cozy interior, with its
    modern decor and ambient lighting, sets the stage for memorable dining.
    Whether you’re here for a special occasion, a casual lunch, or a business
    meeting, our welcoming environment makes every visit a pleasure.
  </div>
</div>

{% endblock %}
