
.thumbnail {
  width: 100%; 
  height: auto;
  object-fit: cover; 
  border-radius: 0.5rem;
  /* border: 2px solid red; */
}


.category-btn {
  background-color: rgba(128, 128, 128, 0.418); 
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  
}

.category-btn:hover {
  background-color: #8c939e;
}

.category-btn.active {
  background-color: #EF5350; 
}

.category-item {
  
  position: relative;
  overflow: hidden;
}

.category-item:hover .thumbnail {
  transform: scale(1.1);
}




