{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center" style="margin-top:40px">
    <table class="table" style="width:80%">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for data in albums %}
          <tr>
            <h1></h1>
            <th scope="row">{{data.artist.id}}</th>
            <td>{{data.artist.First_name}} {{data.artist.Last_name}}</td>
            <td>{{data.artist.email}}</td>
            <td class="text:center">{{data.rating}}</td>
            <td>{{data.artist.instrument_type}}</td>
            <td>{{data.name}}</td>
            <td>{{data.release_date}}</td>
            <td><span><a href="{% url "edit_musicians" data.artist.id %}">Edit</a></span> <span><a href="{% url "delete_musicians" data.artist.id %}">Delete</a></span></td>
          </tr>
          
          
          {% endfor %}
    
            
        </tbody>
      </table>
</div>


{% endblock  %}