
.thumbnail {
    width: 100%; 
    height: auto;
    object-fit: cover; 
    border-radius: 0.375rem;
  }
  
  
  .category-btn {
    background-color: rgba(128, 128, 128, 0.418); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .category-btn:hover {
    background-color: #8c939e;
  }
  
  .category-btn.active {
    background-color: #EF5350; 
  }
  
  .category-item {
    
    position: relative;
    overflow: hidden;
  }
  
  .category-item:hover .thumbnail {
    transform: scale(1.1);
  }



  
  